.row{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col-md-4{
  color:#010788;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col-md-4 span{
  font-size: 300%;
}
.col-md-8{
  background: rgb(247, 246, 246);
  padding: 40px 50px;
}
form{
  display: flex;
  flex-direction: column;
}
label{
  margin-bottom: 10px;
  font-size: 135%;
}
input{
  border: solid 1px rgb(173, 173, 173);
}